html{
    scroll-behavior: smooth;
}

body{
    background-color: #ffffff;
    font-family: Arial;
    /*user-select: none;*/
    margin: 0px;
    padding: 0px;
    /*background-image: url();
    background-attachment: fixed;*/
    background-color: black;
}

.container{
    text-align: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.nav{
    background: rgb(255, 255, 255);
	padding: 5px;
    padding-left: 250px;
    text-align: left;
    clear: both;
    width: auto;
    font-size: 25px;
    border: 1px solid black;
    opacity: 80%;
    color: black;
    position: fixed;
    width: 100%;
}

.logo{
    /*background-image: linear-gradient(to right,#1a2753,#0c0c3b,#1a2753);*/
    background-image: conic-gradient(red, orange, yellow, green, lightseagreen, blue,  purple, violet, red);
    padding: 10px;
    font-size: 40px;

    
}


.tytul{
    opacity: 100%;

    text-shadow: 1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black, -1px -1px 0px black;

    animation: 
        animacja2 15s linear infinite normal;
}

@keyframes animacja2{
    from{
        color: red;
    }
    12.5%{
        color: orange;
    }
    25%{
        color: yellow;
    }
    37.5%{
        color: green;
    }
    50%{
        color: lightseagreen;
    }
    62.5%{
        color: blue;
    }
    75%{
        color: purple;
    }
    87.5%{
        color: violet;
    }
    100%{
        color: red;
    }
}


.slonce1{
    width: 0%;
    height: 0%;
    margin-top: 5%;
    animation: 
        slonce1 5s linear infinite normal,
        sloncekolor1 6s linear infinite alternate;
}

@keyframes slonce1{
    from{
        
    }
    50%{
        margin-left: 85%;
    }
    to{
        
    }


}

@keyframes sloncekolor1{
    from{
        color: yellow;
    }
    to{
        color: blue;
    }
}

.slonce3{
    width: 0%;
    height: 0%;
    margin-top: 0%;
    animation: 
        slonce1 6s linear infinite normal,
        sloncekolor1 2.3s linear infinite alternate;
}


.slonce4{
    width: 0%;
    height: 0%;
    margin-top: 5%;
    animation: 
        slonce1 3.5s linear infinite normal,
        sloncekolor1 10s linear infinite alternate;
}

.slonce2{
    width: 0%;
    height: 0%;
    margin-top: 5%;
    animation: 
        slonce1 4.34s linear infinite normal,
        sloncekolor1 8.6s linear infinite alternate;
}

.slonce5{
    width: 0%;
    height: 0%;
    margin-top: 0%;
    animation: 
        slonce1 2.4s linear infinite normal,
        sloncekolor1 10s linear infinite alternate;
}

.slonce6{
    width: 0%;
    height: 0%;
    margin-top: 5%;
    animation: 
        slonce1 4.5s linear infinite normal,
        sloncekolor1 1s linear infinite alternate;
}


.schoweknaslonce{
    width: 33%;
}
.tabelkanaslonce{
    width: 99%;
    text-align: center;
    opacity: 100;
    
}


.t1{
    background-color: #ffffff;
}


.footer{
    background-color: black;
    color: #ffffff;
    padding: 10px;
}

a{
    text-decoration: none;
    color: rgb(0, 48, 2);
    opacity: 100%;
}

.film{
    text-align: center;
    font-size: 50px;
}

.filmm{
    border:10px solid;
    border-bottom-style: dashed;
    border-bottom-color: aqua;
    border-top-style: double;
    border-top-color: red;
    border-left-style: dotted;
    border-left-color: yellow;
    border-right-style: groove;
    border-right-color: green;
}




.tabelkanasloncefilm{
    margin-left: 8px;
    width: 98%;
    text-align: center;
    opacity: 100;
    text-shadow: 1px 1px 0px black, 1px -1px 0px black, -1px 1px 0px black, -1px -1px 0px black; 
}
.lorem{
    font-size: small;

    animation: 
        animacja2 15s linear infinite normal;
}

.filmmm {
    border:5px solid;
    border-bottom-style: dashed;
    border-bottom-color: aqua;
    border-top-style: double;
    border-top-color: red;
    border-left-style: dotted;
    border-left-color: yellow;
    border-right-style: groove;
    border-right-color: green;

    
}